[Unit]
Description=Read-only /gnu/store for GNU Guix
DefaultDependencies=no
ConditionPathExists=/gnu/store
Before=guix-daemon.service

[Install]
WantedBy=guix-daemon.service

[Mount]
What=/gnu/store
Where=/gnu/store
Type=none
Options=bind,ro
